*{
    margin: 0;
    padding: 0;
}
.hero{
    border: 1px solid black;
    margin: 0 20px;
    height: 300px;
    
}
.hero img{
    object-fit: cover;
    width: 100%;
    height: 100%
}
.content{
    width: 1000px;
    
    margin: 0 auto;
    height: 500px;
}
.content video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.wrap{
    width: 80%;
    margin: 0 auto;
    border: 10px solid black;
    height: 70vh;
}
.wrap video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}