@media (min-width:991px) and (max-width:1440px){
/* 태블릿스타일 */
    .innerContent{
        width: 96%;
        margin: 0 auto;
    }
    html{
        font-size: var(--fontsize-tab);
    }
}
@media (max-width:990px){
/* 모바일스타일 */
    .innerContent{
        width: 96%;
        margin: 0 auto;
    }
    html{
        font-size:var(--fontsize-mob);
    }
    header{
        display: none;
    }
}
