/* *{margin: 0;padding: 0;}
html{background-color: #fff;color: #333;}
a{color: inherit;text-decoration: inherit;}
img{max-width: 100%;}
ul{list-style: none;}
h2{font-size: 1.1rem;} */

 *{margin: 0;padding: 0;}
 html{background-color: #fff;color: #333;}
 a{text-decoration: inherit; color: inherit;}
 img{max-width: 100%;}
 ul{list-style: none;}
 h2{font-size: 1.1rem;}
 :root{
    --main-color:#1b3b86;
 }
 /* header */
 header{
    background-color:var(--main-color);
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;  
 }
 .logo{
    margin-top: 30px;
 }
.gnb{   
    display: flex;
    margin-top: 50px;
    margin-right: 20px;   
}
.gnb:hover{
    height: 200px;
}
.gnb>li{
    position: relative;
}
.gnb ul{
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: all .6s ease 0s;
}
.gnb>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    font-weight: bold;
}
.gnb>li>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}
.gnb li:hover ul{
    height: 200px;
}
.gnb li:hover>a{
    background-color: black;
    color: #fff;
}

 /* station */
 .station{
    
    height: 350px;
    background-color: rgb(185, 255, 232);
    position: relative;
 }
 .train{
    width: 100%;
    height: 100%;
    
 }
 .train>li{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .6s ease 0s;
 }
 .train>li.on{
    opacity: 1;
    pointer-events: auto;
 }
 .train li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .direct{
    width: 1340px;
    background-color: rgb(184, 204, 247);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;   
 }
 .direct>ul{
    display: flex;
    justify-content: space-around;
 }
 .direct a{
    display: flex;
    align-items: center;
 }
 .banner{
    width: 1340px;
    background-color:var(--main-color);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
 }
.contents{
    display: flex;
    
}
 .contents{
    width: 1340px;
    height: 250px;
    
    margin: 0 auto;

 }
 .contents h2{
    margin-bottom: 20px;
 }
 .notice>li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: 10px 0 ;
    margin-bottom: 5px;
 }
 .gallery{
    display: flex;
    justify-content: space-between;
    padding: 10px;
 }

.contents>section{
    flex: 1;
}

 footer{
    background-color: #000;
    color: #fff;
    height: 120px;
    margin: 0    auto;
    width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
 }
 .sns{
    display: flex;

 }
 .modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    display: none;
    z-index: 2;
 }
 .modal.on{
    display: block;
 }
 .popup{
    position: fixed;
    width: 300px;
    height: 300px;
    left: 300px;
    top: 300px;
    background-color: #fff;
    border: 3px solid black;
    display: none;
    z-index: 5;
 }
 .popup.on{
    display: block;
 }
 .popup_ctl{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
 }
 .btn_close{
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
 }